<% if @contact %>
  <h1>Successfully Unsubscribed</h1>

  <p>
    Thank you for letting us know. You should not receive
    any more emails from us.
  </p>

  <p>
    Take care and have a great day.
  </p>
<% else %>
  <h1>Problems Unsubscribing</h1>

  <p>We were unable to find the ID associated with this email. Our sincere apologies.</p>

  <p>
    Please contact us with the email you want removed and we will manually update our system.
  </p>
<% end %>

