<%= (@template.message % @data).html_safe %>

<hr style="margin: 2rem 0 1rem 0;" />

P.S. To unsubscribe from future emails, <a href="http://mailelf.jcdrepair.com/unsubscribe/<%= @contact.guid %>">click this link</a>.